*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(about.jpg);
    
}
.menu ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 120px;
    padding: 15px;
    margin: 10px;
   

    
}
.menu{
    background-color: green;
    text-align: center;
}
.menu a{
    text-decoration: none;
    
    align-items: center;
    color: white;
    font-weight: 500;
}
.active, .menu ul li:hover{
    background-color: rgb(52, 48, 48);
    border-radius: 3px;

}